[submodule "Plugins/SettingsWidgetConstructor"]
	path = Plugins/SettingsWidgetConstructor
	url = https://github.com/JanSeliv/SettingsWidgetConstructor.git
	branch = develop
[submodule "Plugins/PoolManager"]
	path = Plugins/PoolManager
	url = https://github.com/JanSeliv/PoolManager.git
	branch = develop
[submodule "Plugins/MorphsPlayer"]
	path = Plugins/MorphsPlayer
	url = https://github.com/JanSeliv/MorphsPlayer.git
	branch = develop
[submodule "Plugins/MetaCheatManager"]
	path = Plugins/MetaCheatManager
	url = https://github.com/JanSeliv/MetaCheatManager.git
	branch = develop
[submodule "Plugins/FunctionPicker"]
	path = Plugins/FunctionPicker
	url = https://github.com/JanSeliv/FunctionPicker.git
	branch = develop
[submodule "Plugins/InstancedStaticMeshConverter"]
	path = Plugins/InstancedStaticMeshConverter
	url = https://github.com/JanSeliv/InstancedStaticMeshConverter.git
[submodule "Plugins/GameFeatures/ProgressionSystem"]
	path = Plugins/GameFeatures/ProgressionSystem
	url = https://github.com/h4rdmol/ProgressionSystem.git
	branch = develop
[submodule "Plugins/LevelSequencerAudioTrimmer"]
	path = Plugins/LevelSequencerAudioTrimmer
	url = https://github.com/JanSeliv/LevelSequencerAudioTrimmer.git
	branch = develop
